.language-switcher {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}

.language-switcher img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.language-switcher img:hover {
  transform: scale(1.1);
}

.language-switcher .active {
  border: 2px solid #fff;
}

/* For mobile view */
@media (max-width: 991.98px) {
  .language-switcher {
    position: absolute;
    top: 15px;
    right: 70px;
  }
}
